<div class="recovery-container container">
    <div class="recovery-box">
        <div [hidden]="submitted">
            <img src="images/animagens.png"/>
            <h1>Recuperación de la cuenta</h1>
            <div *ngIf="error" class="alert alert-{{error.type}} " role="alert">
                <strong>¡Atención!</strong> {{error.msg}}
            </div>
            <form (ngSubmit)="onSubmit()" #recoveryForm="ngForm">
                <div class="form-group">
                    <label for="nickname">Introduce tu dirección de correo electrónico:</label>
                    <input [(ngModel)]="model.email" ngControl="email" #email="ngForm" type="email" class="form-control" required minlength="4" maxlength="200">
                </div>
                <div class="pull-right"><button [disabled]="!recoveryForm.form.valid" type="submit" class="btn btn-default">Recuperar</button></div>
            </form>
        </div>
        <div [hidden]="!successful">
            <img src="images/animagens.png"/>
            <h1>Recuperación en proceso</h1>
            <p>En breves te llegará un correo electrónico con los detalles para proceder con la recuperación de tu cuenta.</p>
        </div>
    </div>
</div>
<div [hidden]="!submitted || successful">
    <img class="loading-img" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/585d0331234507.564a1d239ac5e.gif" />
</div>