.left p {
    color: #6fc387;
}

.right p {
    color: #feae1b;
}

.active-conversation {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 320px);
    height: 100%;
    background: #f9f9f9;
}

.conversation-header {
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #EEE;
    padding-top: 1px;
}

.header-avatar {
    max-width: 300px;
    margin: 0 auto;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}

.header-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
}

ul {
    padding-left: 0px;
}

.writing-box {
    position: absolute;
    bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    padding-bottom: 40px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 0px 0px #888;
            box-shadow: 0px 0px 5px 5px #888;
}

small, .small {
  font-size: 85%;
}

.chat {
    list-style: none;
    margin: 0;
}

.chat-message{
    padding: 20px;
    height: calc(100% - 204px);
    overflow-y: auto;
}

.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

img {
  max-width: 100%;
}

.chat-body {
  padding-bottom: 20px;
}

.chat li.left .chat-body {
  margin-left: 70px;
  background-color: #fff;
}

.chat li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.chat li .chat-body .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
  margin: 0;
}

.chat li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-right: 1px solid #f1f5fc;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat li {
  margin: 15px 0;
}

.chat li.right .chat-body {
  margin-right: 70px;
  background-color: #fff;
}

.chat-box {
  position: fixed;
  bottom: 0;
  left: 444px;
  right: 0;
  padding: 15px;
  border-top: 1px solid #eee;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.primary-font {
  color: #3c8dbc;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}