<div class="chat-list">
    <div class="lists">
        <div class="list-title">
            <span class="count">{{conversations.length}}</span>
            <div>
                <h5>Conversaciones</h5>
            </div>
            <a href="/chat#" (click)="openLists[0] = !openLists[0]">
                <span *ngIf="!openLists[0]" class="fa fa-plus-square-o"></span>
                <span *ngIf="openLists[0]" class="fa fa-minus-square-o"></span>
            </a> 
        </div>
        <ul class="list">
        </ul>
        <div class="list-title">
            <span class="count">{{favorites.length}}</span>
            <div>
                <h5>Favoritos</h5>
            </div>
            <a href="/chat#" (click)="openLists[1] = !openLists[1]">
                <span *ngIf="!openLists[1]" class="fa fa-plus-square-o"></span>
                <span *ngIf="openLists[1]" class="fa fa-minus-square-o"></span>
            </a> 
        </div>
        <ul class="list">
        </ul>
        <div class="list-title">
            <span class="count">{{rooms.length}}</span>
            <div>
                <h5>Salas</h5>
            </div>
            <a href="/chat#" (click)="openLists[2] = !openLists[2]">
                <span *ngIf="!openLists[2]" class="fa fa-plus-square-o"></span>
                <span *ngIf="openLists[2]" class="fa fa-minus-square-o"></span>
            </a>  
        </div>
        <ul class="list">
            <li class="list-item" *ngFor="let r of rooms" [style.display]="openLists[2] ? 'block' : 'none'">
                <img class="list-img" src="{{r.image}}" />
                <div class="status-ball">{{r.users.length}}</div>
                <span class="list-name">{{r.name}}</span>
            </li>
            <li class="list-item" [style.display]="openLists[2] ? 'block' : 'none'">
                <img class="new-room-img" src="/images/plus_orange.png" />
                <span class="list-name">Crear nueva</span>
            </li>
        </ul>
        <div class="list-title">
            <span class="count">{{chatUsersList.length}}</span>
            <div>
                <h5>Conectados</h5>
            </div>
            <a href="/chat#" (click)="openLists[3] = !openLists[3]">
                <span *ngIf="!openLists[3]" class="fa fa-plus-square-o"></span>
                <span *ngIf="openLists[3]" class="fa fa-minus-square-o"></span>
            </a>  
        </div>
        <ul class="list">
            <li class="list-item" *ngFor="let u_id of chatUsersList" [style.display]="openLists[3] ? 'block' : 'none'">
                <img class="list-img" src="{{users[u_id]?.image}}" />
                <div class="status-ball ball-{{chatUsers[u_id].status}}"></div>
                <span class="list-name">{{users[u_id]?.alias}}</span>
            </li>
        </ul>
    </div>
    <div class="list-bottom">
        <span class="btn btn-warning">Nuevo mensaje privado</span>
    </div>
</div>
