.register-container {
    width: 100%;
    height: 100%;
    background-color: #EEE;
    overflow-y: auto;
}

.register-box {
    min-height: 50%;
    width: 80%;
    margin: 10% auto;
    padding: 10%;
    padding-top: 2%;
    background-color: white;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}