<div class="register-container container">
    <div class="register-box">
        <div *ngIf="error" class="alert alert-{{error.type}} " role="alert">
            <strong>¡Atención!</strong> {{error.msg}}
        </div>
        <div [hidden]="submitted">
            <h1>Animagens - Formulario de registro</h1>
            <form [ngFormModel]="form" (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="nickname">Nombre de usuario</label>
                        <input ngControl="nickname" #nickname="ngForm" type="text" class="form-control" required maxlength="23" pattern="[A-Za-z]*">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="alias">Alias</label>
                        <input ngControl="alias" #alias="ngForm" type="text" class="form-control" required maxlength="30">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="email">Correo electrónico</label>
                        <input ngControl="email" #email="ngForm" type="email" class="form-control" required maxlength="200">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="rep_email">Repetir correo electrónico</label>
                        <input ngControl="rep_email" #rep_email="ngForm" type="email" class="form-control" required maxlength="200">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="password">Password</label>
                        <input ngControl="password" type="password" class="form-control" required maxlength="40">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="rep_password">Repetir Password</label>
                        <input ngControl="rep_password" type="password" class="form-control" required maxlength="40">
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="birth">Fecha de Nacimiento</label>
                        <input ngControl="birth" type="date" class="form-control" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="gender">Género</label>
                        <select ngControl="gender" class="form-control">
                            <option *ngFor="let o of genderOptions" value={{o.value}} [selected]="o.value == 'unknown'">{{o.name}}</option>
                        </select>
                    </div>
                </div>
                <hr />
                <div><input ngControl="terms" type="checkbox" required /><label> - Acepto los <a href="/terms" target="_blank">términos y condiciones</a></label></div>
                <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" [site_key]="'6LcwSxITAAAAAJLejdMDp1hhnQtrK3C92W5_1fuj'"></re-captcha>
                <div class="pull-right"><button [disabled]="!loginForm.valid || !captcha_resolved" type="submit" class="btn btn-default">¡Únete!</button></div>
            </form>
        </div>
        <div [hidden]="!successful">
            <h1>¡Bienvenido!</h1>
            <p>En breves te llegará un correo electrónico con los últimos detalles para que puedas unirte a nosotros en esta fantástica aventura.</p>
        </div>
    </div>
</div>
<div [hidden]="!submitted || successful">
    <img class="loading-img" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/585d0331234507.564a1d239ac5e.gif" />
</div>