.login-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.login-box {
    width: 70%;
    height: 60%;
    margin: 0 auto;
}

.login-box img {
    width: 100%;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}