<div class="login-container container" [hidden]="submitted">
    <div class="login-box">
        <img src="images/animagens.png"/>
        <h1>Identifícate</h1>
        <div *ngIf="error" class="alert alert-{{error.type}} " role="alert">
            <strong>¡Atención!</strong> {{error.msg}}
        </div>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group">
                <label for="nickname">Usuario</label>
                <input [(ngModel)]="model.nickname" ngControl="nickname" #nickname="ngForm" type="text" class="form-control" required pattern="[A-Za-z]*" minlength="4" maxlength="23">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]="model.password" ngControl="password" type="password" class="form-control" required minlength="7" maxlength="40">
            </div>
            <div class="pull-right"><button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-default">Entrar</button></div>
            <div>¿Aún no tienes cuenta? <a href="/registro">¡Únete a Animagens!</a></div>
            <div>¿Has olvidado tu contraseña? <a href="/recuperacion">Recupera tu cuenta aquí.</a></div>
        </form>
    </div>
</div>
<div [hidden]="!submitted">
    <img class="loading-img" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/585d0331234507.564a1d239ac5e.gif" />
</div>