<amgs-nav [menuItems]="menuItems" [primaryColor]="primaryColor">Load</amgs-nav>
<div *ngIf="user && !submitted" class="user-info">
    <div *ngIf="!isEdit" class="panel">
        <div class="user-header">
            <img class="avatar" src="{{user.image}}" />
            <div class="info-header">
                <h1>{{user.alias}}</h1>
                <small>({{user.nickname}})</small>
            </div>
        </div>
        <hr />
        <div class="info-body">
            <div class="row">
                <div *ngIf="user.email" class="col-md-4">
                    <label>Correo electrónico</label>
                    <p>{{user.email}}</p>
                </div>
                <div *ngIf="user.birth" class="col-md-4">
                    <label>Fecha de nacimiento</label>
                    <p>{{user.birth | date: 'dd/MM/yyyy'}}</p>
                </div>
                <div *ngIf="user.gender" class="col-md-4">
                    <label>Género</label>
                    <p *ngIf="user.gender == 'male'">Hombre</p>
                    <p *ngIf="user.gender == 'female'">Mujer</p>
                    <p *ngIf="user.gender == 'unknown'">Sin especificar</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Color</label>
                    <div style="width: 30px; height: 30px;" [style.background-color]="user.color"></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isEdit" class="panel">
        <div *ngIf="error" class="alert alert-{{error.type}} " role="alert">
            <strong>¡Atención!</strong> {{error.msg}}
        </div>
        <form [ngFormModel]="form" (ngSubmit)="onSubmit(userForm.value)" #userForm="ngForm">
            <div class="edit-user-header">
                <span class="pull-right btn btn-danger" type="button" (click)="logout()">Cerrar Sesión</span>
                <div class="edit-info-image">
                    <img *ngIf="uploader.queue[0]?.isSuccess" class="avatar" src="{{imagesUrl}}/{{user.nickname}}" />
                    <img *ngIf="!uploader.queue[0]?.isSuccess" class="avatar" src="{{user.image}}" />
                    <div class="file-selector">
                        <input type="file" ng2FileSelect [uploader]="uploader" />
                        <span *ngIf="uploader.queue[0]" class="upload-file-btn btn btn-primary fa fa-cloud-upload" type="button" (click)="uploader.queue[0].upload()"></span>
                    </div>
                </div>
                <hr />
                <div class="edit-info-header">  
                    <div class="row">
                        <div class="col-md-4">
                            <label>Nombre de usuario</label>
                            <p>{{user.nickname}}</p>
                        </div>
                        <div class="col-md-4">
                            <label>Correo electrónico</label>
                            <p>{{user.email}}</p>
                        </div>
                        <div class="col-md-4">
                            <label>Fecha de nacimiento</label>
                            <p>{{user.birth | date: 'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Alias</label>
                            <input class="form-control border no-shadow no-rounded" ngControl="alias" placeholder="Alias"/>
                        </div>
                        <div class="col-md-4">
                            <label>Color</label>
                            <select ngControl="color" class="form-control" style="min-width: 250px;">
                                <option value="#0799d7" style="font-weight: bold; color: #0799d7;">Azul</option>
                                <option value="#2881bb" style="font-weight: bold; color: #2881bb;">Cobalto</option>
                                <option value="#a5de37" style="font-weight: bold; color: #a5de37;">Lima</option>
                                <option value="#6fc387" style="font-weight: bold; color: #6fc387;">Menta</option>
                                <option value="#f0c514" style="font-weight: bold; color: #f0c514;">Miel</option>
                                <option value="#feae1b" style="font-weight: bold; color: #feae1b;">Oro</option>
                                <option value="#e77e23" style="font-weight: bold; color: #e77e23;">Naranja</option>
                                <option value="#e84c3d" style="font-weight: bold; color: #e84c3d;">Rojo</option>
                                <option value="#cc66a5" style="font-weight: bold; color: #cc66a5;">Rosa</option>
                                <option value="#9b59b6" style="font-weight: bold; color: #9b59b6;">Morado</option>
                                <option value="#000000" style="font-weight: bold; color: #000000;">Negro</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Género</label>
                            <p *ngIf="user.gender == 'male'">Hombre</p>
                            <p *ngIf="user.gender == 'female'">Mujer</p>
                            <p *ngIf="user.gender == 'unknown'">Sin especificar</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label><input type="checkbox" ngControl="sound">Sonido activado</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" ngControl="confidential">Perfil privado</label>
                            </div>
                        </div>
                    </div>
                    <div class="edit-info-header-bottom">
                        <button class="pull-right btn btn-primary" [disabled]="!userForm.valid" type="submit">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div [hidden]="!submitted">
    <img class="loading-img" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/585d0331234507.564a1d239ac5e.gif" />
</div>