@media (min-width: 540px) {
    nav {
        display: inline-block;
        width: 100px;
        height: 100%;
        background-color: white;
        -webkit-box-shadow: 5px 0 5px 0px #888;
                box-shadow: 5px 0 5px 0px #888;
    }

    .nav-profile {
        width: 100px;
        height: 100px;
        border-bottom: 1px solid #EEE;
    }

    .nav-profile-img {
        margin: 10%;
        width: 80%;
        height: 80%;
        border-radius: 50%;
    }

    .nav-menu-item {
        width: 100px;
        height: 100px;
        border-bottom: 1px solid #EEE;
    }

    .nav-menu-item .icon {
        display:inline-block;
        font-size: 50px;
        line-height: 95px;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: bottom;
    }

    .nav-profile-status-ball {
        cursor: pointer;
        position: absolute;
        left: 60px;
        top: 60px;
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50em;
        -moz-border-radius: 50em;
        -webkit-border-radius: 50em;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .ball-connected {
        background-color: rgba(0, 244, 44, 0.9);
    }

    .ball-navigating {
        background-color: rgba(244, 244, 44, 0.9);
    }

    .ball-navigating {
        background-color: rgba(255, 150, 44, 0.9);
    }

    .ball-bussy {
        background-color: rgba(255, 0, 0, 0.9);
    }

    .ball-disconnected {
        background-color: rgba(200, 200, 200, 0.9);
    }

    /* DarkBlue Color */
    .icon-darkblue {
        color: #2881bb;
    }

    .icon-darkblue.active {
        color: #ffffff;
        background-color: #2881bb;
    }

    .icon-darkblue:hover {
        color: #1f6593;
    }

    .icon-darkblue.active:hover {
        color: #ffffff;
        background-color: #1f6593;
    }

    /* Blue Color */
    .icon-blue {
        color: #0799d7;
    }

    .icon-blue.active {
        color: #ffffff;
        background-color: #0799d7;
    }

    .icon-blue:hover {
        color: #057bad;
    }

    .icon-blue.active:hover {
        color: #ffffff;
        background-color: #057bad;
    }

    /* Orange Color */
    .icon-orange {
        color: #feae1b;
    }

    .icon-orange.active {
        color: #ffffff;
        background-color: #feae1b;
    }

    .icon-orange:hover {
        color: #e49501;
    }

    .icon-orange.active:hover {
        color: #ffffff;
        background-color: #e49501;
    }

    /* Red Color */
    .icon-red {
        color: #e84c3d;
    }

    .icon-red.active {
        color: #ffffff;
        background-color: #e84c3d;
    }

    .icon-red:hover {
        color: #e42c1b;
    }

    .icon-red.active:hover {
        color: #ffffff;
        background-color: #e42c1b;
    }
}

@media (max-width: 540px) {
    nav {
        display: inline-block;
        width: 100%;
        height: 50px;
        background-color: white;
        -webkit-box-shadow: 0px 5px 5px 0px #888;
                box-shadow: 0px 5px 5px 0px #888;
    }

    .nav-profile {
        display:inline-block;
        width: 50px;
        height: 50px;
        border-right: 1px solid #EEE;
    }

    .nav-profile-img {
        margin: 10%;
        width: 80%;
        height: 80%;
        border-radius: 50%;
    }

    .nav-menu-item {
        display:inline-block;
        width: 50px;
        height: 20px;
    }

    .nav-menu-item .icon {
        display:inline-block;
        font-size: 25px;
        line-height: 35px;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: bottom;
    }

    .nav-profile-status-ball {
        position: absolute;
        left: 30px;
        margin-top: 30px;
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50em;
        -moz-border-radius: 50em;
        -webkit-border-radius: 50em;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .ball-connected {
        background-color: rgba(0, 244, 44, 0.9);
    }

    .ball-navigating {
        background-color: rgba(244, 244, 44, 0.9);
    }

    .ball-navigating {
        background-color: rgba(255, 150, 44, 0.9);
    }

    .ball-bussy {
        background-color: rgba(255, 0, 0, 0.9);
    }

    .ball-disconnected {
        background-color: rgba(200, 200, 200, 0.9);
    }

    /* DarkBlue Color */
    .icon-darkblue {
        color: #2881bb;
    }

    .icon-darkblue.active {
        color: #1f6593;
    }

    /* Blue Color */
    .icon-blue {
        color: #0799d7;
    }

    .icon-blue.active {
        color: #057bad;
    }

    /* Orange Color */
    .icon-orange {
        color: #feae1b;
    }

    .icon-orange.active {
        color: #e49501;
    }

    /* Red Color */
    .icon-red {
        color: #e84c3d;
    }

    .icon-red.active {
        color: #e42c1b;
    }
}